<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="com.comcast.crm.generic.listenerutility.ListenerImpClass"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.comcast.crm.leadtest.CreateLead"/>
      <class name="com.comcast.crm.contacttest.CreateContactTest"/>
      <class name="com.comcast.crm.opportunitytest.CreateOpportunities"/>
      <class name="com.comcast.crm.invoicetest.CreateInvoice"/>
      <class name="com.comcast.crm.campaignstest.CreateCompainsTest"/>
      <class name="com.comcast.crm.producttest.CreateProduct"/>
      <class name="com.comcast.crm.salesordertest.CreateSalesOrder"/>
      <class name="com.comcast.crm.orgtest.CreateOrgTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
